# Flutter/Dart
.dart_tool/
.packages
build/
!apps/web/build/
apps/web/build/*
!apps/web/build/web/
*.iml
.idea/
.vscode/
*.lock

# Melos
.melos/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Coverage
coverage/
.flutter-plugins-dependencies
.dart_tool/
.vercel
